<?xml version="1.0"?>
<launch>
  <arg name="h1_x" value="0.0"/>
  <arg name="h1_y" value="0.0"/>
  <arg name="h2_x" value="-7.0"/>
  <arg name="h2_y" value="0.0"/>

  <include file="$(find husky_gazebo)/launch/playpen.launch"/>

  <!-- FER-LAMOR -->
  <include file="$(find husky)/launch/spawn_robots.launch">
    <arg name="h1_x" value="0.0"/>
    <arg name="h1_y" value="0.0"/>
    <arg name="h2_x" value="-7.0"/>
    <arg name="h2_y" value="0.0"/>
  </include>
  <include file="$(find husky)/launch/multi_amcl.launch">
    <arg name="h1_x" value="0.0"/>
    <arg name="h1_y" value="0.0"/>
    <arg name="h2_x" value="-7.0"/>
    <arg name="h2_y" value="0.0"/>
    <arg name="map_file" value="$(find husky)/maps/playpen_map.yaml"/>
  </include>
  <include file="$(find dip_rad)/launch/rviz_2_husky_launch.launch"/>

  <!-- My script -->
  <node pkg="husky" name="huskies_static_navigation" type="static_navigation_multiple_huskies.py" launch-prefix="gnome-terminal --tab -- "/>
</launch>