<?xml version="1.0"?>
<launch>
  <param name="/use_sim_time" value="true" />

  <!-- Gazebo -->
  <include file="$(find husky_gazebo)/launch/playpen.launch"/>

  <!-- Spawn robots -->
  <include file="$(find husky)/launch/spawn_robots.launch"/>

  <!-- Multi AMCL 
  <include file="$(find husky)/launch/multi_amcl.launch"/>
  -->
 
  <!-- RVIZ -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find husky)/config/rviz.rviz" output="screen"/>

  <node name="husky_dynamic_navigation" pkg="husky" type="static_navigation_multiple_huskies.py" output="screen" launch-prefix="gnome-terminal --tab -- "/>
</launch>