<?xml version="1.0"?>
<launch>
  <!-- Args -->
  <arg name="map_file" default="$(find husky)/maps/playpen_map.yaml"/>

  <param name="/use_sim_time" value="true" />

  <!-- Gazebo -->
  <include file="$(find husky_gazebo)/launch/playpen.launch"/>

  <!-- Spawn robots -->
  <include file="$(find husky)/launch/spawn_robots.launch"/>

  <!-- Multi AMCL -->

  <!-- RVIZ -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find husky)/config/rviz.rviz" output="screen"/>

</launch>