<?xml version="1.0"?>
<launch>

  <!-- Args -->
  <arg name="r1_ns" default="husky1"/>
  <arg name="r2_ns" default="husky2"/>
  <arg name="map_file" default="$(find husky)/maps/playpen_map.yaml"/>

  <!-- Map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
  </node>


  <group ns="$(arg r1_ns)">
    <param name="amcl/initial_pose_x" value="0" />
    <param name="amcl/initial_pose_y" value="0" />
    <include file="$(find husky)/launch/single_amcl.launch">
      <arg name="robot_namespace" value="$(arg r1_ns)"/>
    </include>
  </group>


  <group ns="$(arg r2_ns)">
    <param name="amcl/initial_pose_x" value="-7" />
    <param name="amcl/initial_pose_y" value="0" />
    <include file="$(find husky)/launch/single_amcl.launch" >
      <arg name="robot_namespace" value="$(arg r2_ns)"/>
    </include>
  </group>

</launch>