<?xml version="1.0"?>
<launch>

  <group ns="husky1">
    <include file="$(find husky)/launch/spawn_single_robot.launch">
      <arg name="robot_namespace" value="husky1" />
    </include>
  </group>

  <group ns="husky2">
    <include file="$(find husky)/launch/spawn_single_robot.launch">
      <arg name="robot_namespace" value="husky2" />
      <arg name="x" value="-7.0" />
    </include>
  </group>

  
</launch>