<?xml version="1.0"?>
<launch>
  <!-- Args -->
  <arg name="world_name" default="playpen"/>

  <!-- Playpen x,y -->
  <arg name="playpen_husky1_x" value="0.0"/>
  <arg name="playpen_husky1_y" value="0.0"/>
  <arg name="playpen_husky1_yaw" value="3.1415"/>

  <arg name="playpen_husky2_x" value="-7.0"/>
  <arg name="playpen_husky2_y" value="0.0"/>
  <arg name="playpen_husky2_yaw" value="0.0"/>
  <!---->

  <!-- Narrow Corridor x,y -->
  <arg name="narrow_corridor_husky1_x" default="-8.0"/>
  <arg name="narrow_corridor_husky1_y" default="-8.0"/>
  <arg name="narrow_corridor_husky1_yaw" default="1.5707"/>


  <arg name="narrow_corridor_husky2_x" default="8.0"/>
  <arg name="narrow_corridor_husky2_y" default="8.0"/>
  <arg name="narrow_corridor_husky2_yaw" default="-1.5707"/>

  <!---->

  <arg name="h1_base_local_planner_package" default="simple_mpc_local_planner"/>
  <arg name="h1_base_local_planner" default="SimpleMPCLocalPlanner"/>
  <arg name="h2_base_local_planner_package" default="simple_mpc_local_planner"/> <!--mpc_local_planner teb_local_planner base_local_planner-->
  <arg name="h2_base_local_planner" default="SimpleMPCLocalPlanner"/> <!--MpcLocalPlannerROS TebLocalPlannerROS--> 

  <arg name="map_file" default="$(find husky_dynamic_navigation)/maps/$(arg world_name)_map.yaml"/>
  <!---->

  <include file="$(find husky_dynamic_navigation)/launch/world.launch">
    <arg name="world_name" value="$(arg world_name)"/>
  </include>
  <!-- FER-LAMOR -->
  <include file="$(find husky_dynamic_navigation)/launch/spawn_robots.launch">
    <arg name="h1_x" value="$(eval arg(arg('world_name')+ '_husky1_x'))"/>
    <arg name="h1_y" value="$(eval arg(arg('world_name')+ '_husky1_y'))"/>
    <arg name="h1_yaw" value="$(eval arg(arg('world_name')+ '_husky1_yaw'))"/>
    <arg name="h2_x" value="$(eval arg(arg('world_name')+ '_husky2_x'))"/>
    <arg name="h2_y" value="$(eval arg(arg('world_name')+ '_husky2_y'))"/>
    <arg name="h2_yaw" value="$(eval arg(arg('world_name')+ '_husky2_yaw'))"/>
  </include>
  <include file="$(find husky_dynamic_navigation)/launch/multi_amcl.launch">
    <arg name="h1_x" value="$(eval arg(arg('world_name')+ '_husky1_x'))"/>
    <arg name="h1_y" value="$(eval arg(arg('world_name')+ '_husky1_y'))"/>
    <arg name="h1_yaw" value="$(eval arg(arg('world_name')+ '_husky1_yaw'))"/>
    <arg name="h1_base_local_planner_package" value="$(arg h1_base_local_planner_package)"/>
    <arg name="h1_base_local_planner" value="$(arg h1_base_local_planner)"/>

    <arg name="h2_x" value="$(eval arg(arg('world_name')+ '_husky2_x'))"/>
    <arg name="h2_y" value="$(eval arg(arg('world_name')+ '_husky2_y'))"/>
    <arg name="h2_yaw" value="$(eval arg(arg('world_name')+ '_husky2_yaw'))"/>
    <arg name="h2_base_local_planner_package" value="$(arg h2_base_local_planner_package)"/>
    <arg name="h2_base_local_planner" value="$(arg h2_base_local_planner)"/>

    <arg name="map_file" value="$(arg map_file)"/>
  </include>

  <!--
  <include file="$(find dip_rad)/launch/rviz_2_husky_launch.launch"/>
  -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find husky_dynamic_navigation)/config/rviz.rviz"/>


  <!-- My script -->
  <!--node pkg="husky_dynamic_navigation" name="huskies_static_navigation" type="static_navigation_multiple_huskies.py" launch-prefix="gnome-terminal -->tab -- "/>
</launch>