<?xml version="1.0"?>
<!--
Software License Agreement (BSD)

\file      description.launch
\authors   Paul Bovbel <pbovbel@clearpathrobotics.com>, Prasenjit Mukherjee <pmukherj@clearpathrobotics.com>
\copyright Copyright (c) 2015, Clearpath Robotics, Inc., All rights reserved.

Redistribution and use in source and binary forms, with or without modification, are permitted provided that
the following conditions are met:
 * Redistributions of source code must retain the above copyright notice, this list of conditions and the
   following disclaimer.
 * Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the 
   following disclaimer in the documentation and/or other materials provided with the distribution.
 * Neither the name of Clearpath Robotics nor the names of its contributors may be used to endorse or promote
   products derived from this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WAR-
RANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, IN-
DIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT
OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE
)ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->
<launch>

  <arg name="base_global_planner" default="navfn/NavfnROS"/>
  <arg name="base_local_planner" default="MpcLocalPlannerROS"/>
  <arg name="base_local_planner_package" default="mpc_local_planner"/>
 
  <arg name="cmd_vel_topic" default="cmd_vel" />
  <arg name="odom_topic" default="odom" />
  <arg name="robot_name" default="husky1"/>
  <arg name="tf_prefix" default="$(arg robot_name)_tf"/>
  <arg name="scan_topic" default="/husky1/scan"/>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
    <remap from="odom" to="$(arg odom_topic)"/>
    <remap from="map" to="map"/>
    <remap from="scan" to="$(arg scan_topic)"/>

    <!-- Set planners -->
    <param name="base_global_planner" value="$(arg base_global_planner)"/>
    <param name="base_local_planner" value="$(arg base_local_planner_package)/$(arg base_local_planner)"/>  

    <!-- Config file for both local and global planners -->
    <rosparam file="$(find husky_dynamic_navigation)/config/planner.yaml" command="load"/>
    <rosparam file="$(find husky_dynamic_navigation)/config/$(arg base_local_planner)_$(arg robot_name).yaml" command="load"/>

    <!-- observation sources located in costmap_common.yaml -->
    <rosparam file="$(find husky_dynamic_navigation)/config/costmap_common.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find husky_dynamic_navigation)/config/costmap_common.yaml" command="load" ns="local_costmap" />

    <!-- local costmap -->
    <rosparam file="$(find husky_dynamic_navigation)/config/costmap_local.yaml" command="load" ns="local_costmap" />
    <param name="local_costmap/global_frame" value="$(arg tf_prefix)/odom"/>
    <param name="local_costmap/robot_base_frame" value="$(arg tf_prefix)/base_link"/>
    <param name="local_costmap/obstacles_laser/laser/topic" value="$(arg scan_topic)"/>

    <!-- static global costmap, static map provides size -->
    <rosparam file="$(find husky_dynamic_navigation)/config/costmap_global_static.yaml" command="load" ns="global_costmap"/>
    
    <!-- common global costmap params -->
    <param name="global_costmap/global_frame" value="map"/>
    <param name="global_costmap/robot_base_frame" value="$(arg tf_prefix)/base_link"/>
    <param name="global_costmap/obstacles_laser/laser/topic" value="$(arg scan_topic)"/>

    <param name="$(arg base_local_planner)/global_frame_id" value="$(arg tf_prefix)/odom"/>
    <param name="$(arg base_local_planner)/odom_topic" value="/$(arg robot_name)/husky_velocity_controller/odom"/> <!-- not odometry/filtered -->
  </node>

</launch>