<?xml version="1.0"?>
<launch>
  <arg name="h1_name" default="husky1"/>
  <arg name="h1_x" default="0.0"/>
  <arg name="h1_y" default="0.0"/>
  <arg name="h1_base_local_planner_package" default="mpc_local_planner"/>
  <arg name="h1_base_local_planner" default="MpcLocalPlannerROS"/>

  <arg name="h2_name" default="husky2"/>
  <arg name="h2_x" default="0.0"/>
  <arg name="h2_y" default="0.0"/>
  <arg name="h2_base_local_planner_package" default="mpc_local_planner"/>
  <arg name="h2_base_local_planner" default="MpcLocalPlannerROS"/>

  <!-- Run the map server -->
  <arg name="map_file" default="$(find husky_dynamic_navigation)/maps/playpen_map.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- husky 1-->
  <group>
    <!--- Run AMCL -->
    <arg name="node_name_prefix" value="husky1"/>
    <include file="$(find husky_dynamic_navigation)/launch/single_amcl.launch">
      <arg name="scan_topic" value="/husky1/scan"/>
      
      <arg name="odom_frame_id" value="husky1_tf/odom"/>
      <arg name="base_frame_id" value="husky1_tf/base_link"/>
      <arg name="node_name_prefix" value="$(arg node_name_prefix)"/>

      <arg name="initial_pose_x" value="$(arg h1_x)"/>
      <arg name="initial_pose_y" value="$(arg h1_y)"/>
      <arg name="initial_pose_a" value="3.1415"/> yaw

    </include>
  </group>

  <!--- Run Move Base -->
  <group ns="/$(arg h1_name)">
    <include file="$(find husky_dynamic_navigation)/launch/move_base_husky.launch">
      <param name="tf_prefix" value="$(arg h1_name)_tf" />
      <arg name="tf_prefix" value="husky1_tf"/>
      <arg name="scan_topic" value="/husky1/scan"/>
      <arg name="cmd_vel_topic" value="/$(arg h1_name)/cmd_vel"/> 
      <arg name="odom_topic" value="/husky1/husky_velocity_controller/odom"/>
      <!--arg name="odom_topic" value="/husky1/odometry/filtered"/-->

      <!-- local planner-->
      <arg name="base_local_planner_package" value="$(arg h1_base_local_planner_package)"/>
      <arg name="base_local_planner" value="$(arg h1_base_local_planner)"/>
    </include>
  </group>

  <!-- husky2 -->
  <!-- <group ns="/husky2"> -->
  <group>
    <!--- Run AMCL -->
    <arg name="node_name_prefix" value="husky2"/>
    <include file="$(find husky_dynamic_navigation)/launch/single_amcl.launch">
      <arg name="scan_topic" value="/husky2/scan"/>
      <arg name="odom_frame_id" value="husky2_tf/odom"/>
      <arg name="base_frame_id" value="husky2_tf/base_link"/>
      <arg name="node_name_prefix" value="$(arg node_name_prefix)"/>
      <arg name="initial_pose_x" value="$(arg h2_x)"/>
      <arg name="initial_pose_y" value="$(arg h2_y)"/>
      <!-- <arg name="initial_pose_a" value="-1.57079632679"/> yaw -->
    </include>
  </group>

  <!--- Run Move Base -->
  <group ns="/husky2">
    <include file="$(find husky_dynamic_navigation)/launch/move_base_husky.launch">
      <param name="tf_prefix" value="husky2_tf" />
      <arg name="tf_prefix" value="husky2_tf"/>

      <arg name="cmd_vel_topic" value="/husky2/cmd_vel"/>
      <arg name="odom_topic" value="/husky2/husky_velocity_controller/odom"/>
      <!--arg name="odom_topic" value="/husky2/odometry/filtered"/-->
      <arg name="scan_topic" value="/husky2/scan"/>

      <!-- local planner -->
      <arg name="base_local_planner_package" value="$(arg h2_base_local_planner_package)"/>
      <arg name="base_local_planner" value="$(arg h2_base_local_planner)"/>
    </include>
  </group>

</launch>