<?xml version="1.0"?>
<launch>

  <arg name="robot_namespace" default=""/>
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>

  <param name="tf_prefix" value="$(arg robot_namespace)_tf"/>

  <!--- Run AMCL -->
  <node pkg="amcl" type="amcl" name="$(arg robot_namespace)_amcl" output="screen">
    <param name="use_map_topic" value="true"/>
    <!-- Publish scans from best pose at a max of 10 Hz -->
    <param name="odom_model_type" value="diff"/>
    <param name="odom_alpha5" value="0.1"/>
    <param name="gui_publish_rate" value="10.0"/>
    <param name="laser_max_beams" value="60"/>
    <param name="laser_max_range" value="12.0"/>
    <param name="min_particles" value="500"/>
    <param name="max_particles" value="2000"/>
    <param name="kld_err" value="0.05"/>
    <param name="kld_z" value="0.99"/>
    <param name="odom_alpha1" value="0.2"/>
    <param name="odom_alpha2" value="0.2"/>
    <!-- translation std dev, m -->
    <param name="odom_alpha3" value="0.2"/>
    <param name="odom_alpha4" value="0.2"/>
    <param name="laser_z_hit" value="0.5"/>
    <param name="laser_z_short" value="0.05"/>
    <param name="laser_z_max" value="0.05"/>
    <param name="laser_z_rand" value="0.5"/>
    <param name="laser_sigma_hit" value="0.2"/>
    <param name="laser_lambda_short" value="0.1"/>
    <param name="laser_model_type" value="likelihood_field"/>
    <!-- <param name="laser_model_type" value="beam"/> -->
    <param name="laser_likelihood_max_dist" value="2.0"/>
    <param name="update_min_d" value="0.25"/>
    <param name="update_min_a" value="0.2"/>
    <param name="odom_frame_id" value="$(arg robot_namespace)_tf/odom"/> <!--/$(arg robot_namespace)_tf/odom-->
    <param name="resample_interval" value="1"/>
    <!-- Increase tolerance because the computer can get quite busy -->
    <param name="transform_tolerance" value="1.0"/>
    <param name="recovery_alpha_slow" value="0.0"/>
    <param name="recovery_alpha_fast" value="0.0"/>
    <param name="base_frame_id" value="/$(arg robot_namespace)_tf/base_link"/>
    <!--param name="global_frame_id" value="$(arg robot_namespace)/map"/-->
    <param name="global_frame_id" value="/map"/>
    <param name="initial_pose_x" value="$(arg x)"/>
    <param name="initial_pose_y" value="$(arg y)"/>
    
    <remap from="scan" to="$(arg robot_namespace)/front/scan"/>
    
    <!--remap from="static_map" to="/static_map" /-->
    <remap from="map" to="/map"/>
    <param name="scan_topic" value="/$(arg robot_namespace)/front/scan"/>
  </node>

  <!--- Run Move Base -->
  <node pkg="move_base" type="move_base" respawn="false" name="$(arg robot_namespace)_move_base" output="screen">
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />

    <!-- Default config in husky_navigation -->
    <rosparam file="$(find husky_dynamic_navigation)/config/costmap_common.yaml" command="load" ns="global_costmap"/> 
    <rosparam file="$(find husky_dynamic_navigation)/config/costmap_common.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find husky_dynamic_navigation)/config/costmap_local.yaml"  command="load" />
    <rosparam file="$(find husky_dynamic_navigation)/config/costmap_global_static.yaml" command="load" />
    <rosparam file="$(find husky_dynamic_navigation)/config/planner.yaml" command="load" />

    <param name="global_costmap/global_frame" value="map"/>
    <param name="global_costmap/robot_base_frame" value="$(arg robot_namespace)_tf/base_link"/>
    <param name="local_costmap/global_frame" value="$(arg robot_namespace)_tf/odom"/>
    <param name="local_costmap/robot_base_frame" value="$(arg robot_namespace)_tf/base_link"/>
    <param name="DWAPlannerROS/global_frame_id" value="$(arg robot_namespace)_tf/odom"/>

    <remap from="cmd_vel" to="/$(arg robot_namespace)/cmd_vel"/>
    <remap from="odom" to="$(arg robot_namespace)_tf/odom"/>
    <remap from="scan" to="$(arg robot_namespace)/front/scan"/>
    <remap from="map" to="/map" />
    <remap from="/move_base_simple/goal"                                           to="/$(arg robot_namespace)/move_base_simple/goal" />
    <remap from="/move_base/TebLocalPlannerROS/global_plan"                        to="/$(arg robot_namespace)/move_base/TebLocalPlannerROS/global_plan" />
    <remap from="/move_base/TebLocalPlannerROS/local_plan"                         to="/$(arg robot_namespace)/move_base/TebLocalPlannerROS/local_plan" />
    <remap from="/move_base/TebLocalPlannerROS/teb_markers"                        to="/$(arg robot_namespace)/move_base/TebLocalPlannerROS/teb_markers" />
    <remap from="/move_base/TebLocalPlannerROS/teb_markers_array"                  to="/$(arg robot_namespace)/move_base/TebLocalPlannerROS/teb_markers_array" />
    <remap from="/move_base/TebLocalPlannerROS/teb_poses"                          to="/$(arg robot_namespace)/move_base/TebLocalPlannerROS/teb_poses" />
    <remap from="/move_base/global_costmap/costmap"                                to="/$(arg robot_namespace)/move_base/global_costmap/costmap" />
    <remap from="/move_base/global_costmap/costmap_updates"                        to="/$(arg robot_namespace)/move_base/global_costmap/costmap_updates" />
    <remap from="/move_base/local_costmap/costmap"                                 to="/$(arg robot_namespace)/move_base/local_costmap/costmap" />
    <remap from="/move_base/local_costmap/costmap_updates"                         to="/$(arg robot_namespace)/move_base/local_costmap/costmap_updates" />
    <remap from="/move_base/local_costmap/footprint"                               to="/$(arg robot_namespace)/move_base/local_costmap/footprint" />

    <remap from="/move_base/GlobalPlanner/parameter_descriptions"                  to="/$(arg robot_namespace)/move_base/GlobalPlanner/parameter_descriptions" />
    <remap from="/move_base/GlobalPlanner/parameter_updates"                       to="/$(arg robot_namespace)/move_base/GlobalPlanner/parameter_updates" />
    <remap from="/move_base/GlobalPlanner/plan"                                    to="/$(arg robot_namespace)/move_base/GlobalPlanner/plan" />
    <remap from="/move_base/GlobalPlanner/potential"                               to="/$(arg robot_namespace)/move_base/GlobalPlanner/potential" />
    <remap from="/move_base/TebLocalPlannerROS/obstacles"                          to="/$(arg robot_namespace)/move_base/TebLocalPlannerROS/obstacles" />
    <remap from="/move_base/TebLocalPlannerROS/parameter_descriptions"             to="/$(arg robot_namespace)/move_base/TebLocalPlannerROS/parameter_descriptions" />
    <remap from="/move_base/TebLocalPlannerROS/parameter_updates"                  to="/$(arg robot_namespace)/move_base/TebLocalPlannerROS/parameter_updates" />
    <remap from="/move_base/cancel"                                                to="/$(arg robot_namespace)/move_base/cancel" />
    <remap from="/move_base/current_goal"                                          to="/$(arg robot_namespace)/move_base/current_goal" />
    <remap from="/move_base/feedback"                                              to="/$(arg robot_namespace)/move_base/feedback" />
    <remap from="/move_base/global_costmap/footprint"                              to="/$(arg robot_namespace)/move_base/global_costmap/footprint" />
    <remap from="/move_base/global_costmap/inflation_layer/parameter_descriptions" to="/$(arg robot_namespace)/move_base/global_costmap/inflation_layer/parameter_descriptions" />
    <remap from="/move_base/global_costmap/inflation_layer/parameter_updates"      to="/$(arg robot_namespace)/move_base/global_costmap/inflation_layer/parameter_updates" />
    <remap from="/move_base/global_costmap/obstacle_layer/clearing_endpoints"      to="/$(arg robot_namespace)/move_base/global_costmap/obstacle_layer/clearing_endpoints" />
    <remap from="/move_base/global_costmap/obstacle_layer/parameter_descriptions"  to="/$(arg robot_namespace)/move_base/global_costmap/obstacle_layer/parameter_descriptions" />
    <remap from="/move_base/global_costmap/obstacle_layer/parameter_updates"       to="/$(arg robot_namespace)/move_base/global_costmap/obstacle_layer/parameter_updates" />
    <remap from="/move_base/global_costmap/parameter_descriptions"                 to="/$(arg robot_namespace)/move_base/global_costmap/parameter_descriptions" />
    <remap from="/move_base/global_costmap/parameter_updates"                      to="/$(arg robot_namespace)/move_base/global_costmap/parameter_updates" />
    <remap from="/move_base/global_costmap/static_layer/parameter_descriptions"    to="/$(arg robot_namespace)/move_base/global_costmap/static_layer/parameter_descriptions" />
    <remap from="/move_base/global_costmap/static_layer/parameter_updates"         to="/$(arg robot_namespace)/move_base/global_costmap/static_layer/parameter_updates" />
    <remap from="/move_base/goal"                                                  to="/$(arg robot_namespace)/move_base/goal" />
    <remap from="/move_base/local_costmap/obstacle_layer/parameter_descriptions"   to="/$(arg robot_namespace)/move_base/local_costmap/obstacle_layer/parameter_descriptions" />
    <remap from="/move_base/local_costmap/obstacle_layer/parameter_updates"        to="/$(arg robot_namespace)/move_base/local_costmap/obstacle_layer/parameter_updates" />
    <remap from="/move_base/local_costmap/parameter_descriptions"                  to="/$(arg robot_namespace)/move_base/local_costmap/parameter_descriptions" />
    <remap from="/move_base/local_costmap/parameter_updates"                       to="/$(arg robot_namespace)/move_base/local_costmap/parameter_updates" />
    <remap from="/move_base/local_costmap/static_layer/parameter_descriptions"     to="/$(arg robot_namespace)/move_base/local_costmap/static_layer/parameter_descriptions" />
    <remap from="/move_base/local_costmap/static_layer/parameter_updates"          to="/$(arg robot_namespace)/move_base/local_costmap/static_layer/parameter_updates" />
    <remap from="/move_base/parameter_descriptions"                                to="/$(arg robot_namespace)/move_base/parameter_descriptions" />
    <remap from="/move_base/parameter_updates"                                     to="/$(arg robot_namespace)/move_base/parameter_updates" />
    <remap from="/move_base/result"                                                to="/$(arg robot_namespace)/move_base/result" />
    <remap from="/move_base/status"                                                to="/$(arg robot_namespace)/move_base/status" />
    <remap from="/move_base_simple/goal"                                           to="/$(arg robot_namespace)/move_base_simple/goal" />
  </node>
</launch>
