<?xml version="1.0"?>
<!--
Software License Agreement (BSD)

\file      amcl.launch
\authors   Paul Bovbel <pbovbel@clearpathrobotics.com>, Prasenjit Mukherjee <pmukherj@clearpathrobotics.com>
\copyright Copyright (c) 2015, Clearpath Robotics, Inc., All rights reserved.

Redistribution and use in source and binary forms, with or without modification, are permitted provided that
the following conditions are met:
 * Redistributions of source code must retain the above copyright notice, this list of conditions and the
   following disclaimer.
 * Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the
   following disclaimer in the documentation and/or other materials provided with the distribution.
 * Neither the name of Clearpath Robotics nor the names of its contributors may be used to endorse or promote
   products derived from this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WAR-
RANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, IN-
DIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT
OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->
<launch>

  <arg name="use_map_topic" default="true"/>
  <arg name="scan_topic" default="front/scan" />
  <arg name="odom_frame_id" default="odom" />
  <arg name="base_frame_id" default="base_link"/>
  <arg name="node_name_prefix" default="husky1"/>

  <arg name="initial_pose_x" default="6.18"/>
  <arg name="initial_pose_y" default="-1.34"/>
  <arg name="initial_pose_a" default="0"/> <!-- yaw -->

  <node pkg="amcl" type="amcl" name="$(arg node_name_prefix)_amcl">
    
    <rosparam file="$(find husky_dynamic_navigation)/config/amcl_params.yaml" command="load"/>

    <param name="use_map_topic" value="$(arg use_map_topic)"/>
    <param name="odom_frame_id" value="$(arg odom_frame_id)"/>
    
    <remap from="scan" to="$(arg scan_topic)"/> 
    <remap from="initialpose" to="/$(arg node_name_prefix)/initialpose"/> 
    <remap from="amcl_pose" to="/$(arg node_name_prefix)/amcl_pose"/>
    <remap from="particlecloud" to="/$(arg node_name_prefix)/merged_cloud"/>
    
    <param name="base_frame_id" value="$(arg base_frame_id)"/>
    <param name="global_frame_id" value="map"/>
    
    <param name="tf_broadcast" value="true"/>

    <param name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <param name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <param name="initial_pose_a" value="$(arg initial_pose_a)"/> <!-- yaw -->
    
  </node>

</launch>